body {
  font-size: 16px;
  line-height: 22px;
  color: black;
  font-weight: normal;
  font-family: Roboto, sans-serif;
  background-color: #849d8f; /*добавил потому что лого не видно*/
}
h2 {
  font-size: 35px;
  line-height: normal;
  font-weight: bolder;
}
h3 {
  font-size: 24px;
  line-height: 30px;
  font-weight: bold;
}
